
<div class="nav-header">
  <div class="nav-container">
    <ul class="navbar">
      <li><a class="nav-link" href="http://twitter.com/rossturk"><img alt="Twitter" src="/assets/images/twitter.png" height=14></a></li>
      <li><a class="nav-link" href="https://www.linkedin.com/in/rossturk/"><img alt="LinkedIn" src="/assets/images/linkedin.png" height=14></a></li>
      <li><a class="nav-link" href="{{ '/work' | prepend: site.baseurl | prepend: site.url }}">About</a></li>
    </ul>
  </div>
</div>
